
<section id="about">
    <div class="container">
        <p>
                    
        </p>
        <h2><strong>Sobre mí</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="https://i.ibb.co/GdQGq24/profile-picture.jpg" alt="foto de perfil" class="img-fluid">
                </picture>
               
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Full Stack Developer &amp; Project Manager.</h3>
                <p class="font-italic">
                    Soy una profesional con experiencia tanto en el sector público como privado, en búsqueda de nuevos desafíos y crecimiento en la gestión de proyectos con impacto positivo.
                    <br>Apasionada por el <b>Desarrollo Tecnológico</b> y la <b>Innovación</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i><strong> Trabajo Remoto </strong>
                            </li>
                            <li>
                                <i class="fa-solid fa-building"></i><strong> Buenos Aires, Argentina </strong>
                            </li>
                            <li>
                                <i class="fa-solid fa-at"></i><strong><a href="mailto:mai.izaguirre@hotmail.com">
                                        mai.izaguirre@hotmail.com</a></strong>
                            </li>
                            <div class="d-flex justify-content-left">
                                <a  class="btn-social-media" href="https://www.linkedin.com/in/marinaizaguirre/" rel="tooltip" target="_blank"  title="Seguir en Linkedin">
                                    <i  class="fa fa-linkedin fa-lg "></i>
                                </a>
                                <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/maiizaguirre" rel="tooltip" target="_blank" title="Seguir en GitHub" >
                                    <i  class="fa fa-github fa-lg "></i></a>
                            </div>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class="fa-solid fa-mobile-screen"></i><strong> +54 9 11 3120 3321 </strong>
                            </li>
                            <li>
                                <i class="fa-solid fa-laptop-code"></i><strong> Full Stack Developer </strong>
                            </li>
                            <li>
                                <i class="fa-solid fa-house-user"></i><strong> Freelance </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</section>