<section id="projects">
    <div class="container mt-5" >
        <h2><strong>Proyectos</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
        
            <div class="col-lg-4 col-sm-12 " data-aos="flip-up" >
                <div class="card shadow-lg p-3 bg-white rounded">
                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="proyecto-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(https://i.ibb.co/r6ySRxW/Img-proyecto.png)'}" >
                        </div>
                       
                    </div>

                    <div class="card-body">
                            <h3 class="card-title">Portfolio Argentina Programa</h3>
                            <h5 class="card-title"><strong>Fecha:</strong>  </h5>
                            <p class="card-text">Julio 2022 </p>
                            <h5 class="card-title"><strong>Descripción:</strong>  </h5>
                            <p class="card-text">Desarrollo Full-Stack de Portfolio personal</p>
                            <h5 class="card-title"><strong>Tecnologías:</strong>  </h5>
                            <p class="card-text">Angular11, Html5, CSS, TypeScript, SpringBoot, MySQL, BootStrap, JavaScript, FireBase, Heroku, Git </p>
                            <div class="d-flex flex-row justify-content-center">
                                <a href="https://github.com/zinedineBenkhider/team_traveler" target="_blank" target="_blank" type="button" class="btn btn-primary mr-3">Código</a> 
                            
                            </div>
                            
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>